OpenID Client AX Configuration
------------------------------
Below is a sample mapping of the openid configuration mappings for client attribute exchange

field_first_name|openid.%s.type.first_name|http://%s/namePerson/first|first_name|1
field_last_name|openid.%s.type.last_name|http://%s/namePerson/last|last_name|1
field_salutation|openid.%s.type.salutation|http://%s/namePerson/prefix|salutation|1
field_organization|openid.%s.type.organization|http://%s/company/name|organization|1
field_title|openid.%s.type.company_title|http://%s/company/title|company_title|1
field_phone|openid.%s.type.phone|http://%s/contact/phone/default|phone|1
field_phone2|openid.%s.type.workphone|http://%s/contact/phone/business|workphone|1
field_cellphone|openid.%s.type.cellphone|http://%s/contact/phone/cell|cellphone|1
field_fax|openid.%s.type.fax|http://%s/contact/phone/fax|fax|1
field_email|openid.%s.type.email|http://%s/contact/email|email|1
field_blog|openid.%s.type.blog|http://%s/contact/web/blog|blog|1
field_city|openid.%s.type.city|http://%s/contact/city/home|city|1
field_country_of_residence|openid.%s.type.country_of_residence|http://%s/contact/country/home|country_of_residence|1
field_country_of_nationality|openid.%s.type.country_of_nationality|http://%s/contact/country/business|country_of_nationality|1
field_languages_spoken|openid.%s.type.languages|http://%s/pref/language|languages|1
field_bio|openid.%s.type.bio|http://%s/media/biography|bio|1
